@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@@{
    ViewData["Title"] = "Reset password confirmation Page";
}

@model WebAdvert.Web.Models.Accounts.ConfirmAfterForgotPasswordModel;

@{
}
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Accounts" asp-action="ConfirmAfterForgotPassword">

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
                <br />

                <label asp-for="Code"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
                <br />

                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
                <br />

                <label asp-for="ConfirmPassword">Confirm Password</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            </div>

            <button type="submit" class="btn btn-dark">Confirm</button>
        </form>
    </div>
</div>


